/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .subscribe-us-area .subscribe .subscribe-title,
    .site-main .subscribe-us-area .subscribe .subscribe-title p, h4,
    .site-main .services-area,
    .site-main .subscribe-us-area .subscribe
    {
        padding: 2%;
        margin: 0%;
    }

    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }
}

@media only screen and (max-width: 800px){
    .site-main .about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: px;
    }

    .site-main .about-area .about-title .para p{
        padding: 0%;
    }

    .site-main .Experience-area .section-experience h1{
        text-align: left;
        padding-left: 5%;
    }

    .section-experience .experience-pbs{
        padding-left: 5%;
    }

    .section-experience .experience-smart{
        padding-left: 5%;
    }

    .site-main .about-area .about-image > img{
        padding-left: 0;
        width: 18rem;
    }

    .site-main .site-banner h3{
        padding-left: 5%;
        padding-top: 5rem;
        font-weight: 500;
    }
    
    .site-main .site-banner h1{
        font-size: 5rem;
        padding-left: 5%;
        white-space: nowrap;
        font-size: 50px;
    }

    .site-main .site-banner h4{
        font-size: 1.5rem;
        padding-left: 5%;
    }
    
    .site-main .site-buttons {
        padding-left: 5%;
        padding-bottom: 0rem;
    }

    .contact-area .contact-buttons {
        padding-left: 36%;
        padding-bottom: 10rem;
    }
}



/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }

    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area{
        padding: 3% 4%;
    }
}